# title

<details>
<summary>插入图片</summary>  

![boxplot.png](./path/to/file/boxplot.png)
</details>

In [2]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm

In [5]:
data = pd.read_csv("./课件/07数据分析篇/smoke.csv")

In [6]:
data

     age  gender smoking  cancer
0   66.2  female      no       0
1   43.9    male      no       0
2   44.7    male      no       1
3   39.3  female      no       0
4   58.7    male     yes       1
5   27.0    male      no       1
6   67.4  female      no       0
7   42.4    male     yes       1
8   53.2  female      no       0
9   47.5  female      no       0
10  64.6  female      no       0
11  29.4  female     yes       1
12  46.8  female      no       0
13  46.2    male      no       1
14  61.3    male     yes       1
15  39.0  female      no       1
16  48.3    male     yes       1
17  41.2  female      no       0
18  50.4  female     yes       1
19  55.8  female     yes       1
20  39.0    male      no       1
21  61.4  female      no       0
22  59.0    male      no       1
23  55.0  female      no       0
24  59.0    male      no       1
25  43.2    male      no       0
26  48.8  female      no       0
27  40.6  female     yes       1
28  47.3    male      no       0
29  55.3  female      no       1
30  43.1    male      no       0
31  46.0  female     yes       1
32  43.1  female      no       1
33  41.5    male      no       1
34  43.3  female      no       0
35  49.9  female     yes       1
36  38.8    male      no       1
37  52.3  female      no       0
38  66.6  female     yes       1
39  57.4  female     yes       1
40  48.1    male      no       1
41  41.1    male      no       0
42  42.5  female      no       0
43  66.9  female     yes       0
44  50.5    male      no       0
45  43.6  female      no       0
46  51.9  female      no       0
47  71.0  female      no       0
48  51.2  female      no       0
49  56.2    male      no       0

1. 分类 -> 虚拟变量

In [9]:
logistic_data = pd.get_dummies(data, columns=["gender", "smoking"],
                               dtype=int, 
                               drop_first=True)
logistic_data

     age  cancer  gender_male  smoking_yes
0   66.2       0            0            0
1   43.9       0            1            0
2   44.7       1            1            0
3   39.3       0            0            0
4   58.7       1            1            1
5   27.0       1            1            0
6   67.4       0            0            0
7   42.4       1            1            1
8   53.2       0            0            0
9   47.5       0            0            0
10  64.6       0            0            0
11  29.4       1            0            1
12  46.8       0            0            0
13  46.2       1            1            0
14  61.3       1            1            1
15  39.0       1            0            0
16  48.3       1            1            1
17  41.2       0            0            0
18  50.4       1            0            1
19  55.8       1            0            1
20  39.0       1            1            0
21  61.4       0            0            0
22  59.0       1            1            0
23  55.0       0            0            0
24  59.0       1            1            0
25  43.2       0            1            0
26  48.8       0            0            0
27  40.6       1            0            1
28  47.3       0            1            0
29  55.3       1            0            0
30  43.1       0            1            0
31  46.0       1            0            1
32  43.1       1            0            0
33  41.5       1            1            0
34  43.3       0            0            0
35  49.9       1            0            1
36  38.8       1            1            0
37  52.3       0            0            0
38  66.6       1            0            1
39  57.4       1            0            1
40  48.1       1            1            0
41  41.1       0            1            0
42  42.5       0            0            0
43  66.9       0            0            1
44  50.5       0            1            0
45  43.6       0            0            0
46  51.9       0            0            0
47  71.0       0            0            0
48  51.2       0            0            0
49  56.2       0            1            0

2. 相关性

In [10]:
logistic_data.corr().abs() > 0.8

               age  cancer  gender_male  smoking_yes
age           True   False        False        False
cancer       False    True        False        False
gender_male  False   False         True        False
smoking_yes  False   False        False         True

3. 创建模型

In [11]:
y = logistic_data['cancer']
X = logistic_data.drop('cancer', axis=1)

# 在自变量里添加一个常量（为了引入截距）
X = sm.add_constant(X)

4. 训练模型

In [12]:
model = sm.Logit(y, X).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.426845
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 cancer   No. Observations:                   50
Model:                          Logit   Df Residuals:                       46
Method:                           MLE   Df Model:                            3
Date:                Thu, 25 Sep 2025   Pseudo R-squ.:                  0.3835
Time:                        10:48:44   Log-Likelihood:                -21.342
converged:                       True   LL-Null:                       -34.617
Covariance Type:            nonrobust   LLR p-value:                 7.314e-06
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const           2.0716      2.489      0.832      0.405      -2.806       6.949
age            -0.0789      0.051     -1.552      0.121      -0.179       0.021
gender_male     1.8148      0.817      2.222      0.026       0.214       3.415
smoking_yes     4.4339      1.346      3.294      0.001       1.796       7.072
===============================================================================
"""

p > $\alpha$ ?